@use 'variables' as *;

.categories {
  .category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .img-container {
      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .text-container {
      display: flex;
      flex-direction: column;
    }
    button {
      width: auto;
    }
  }
  .category-1 {
    .img-container {
      transform: translateY(-50px);
      box-shadow: 25px 25px $green-grey, -275px 25px $green-grey, -575px 25px $green-grey;
    }
    .text-container {
      padding-top: 25px;
      padding-left: 75px;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  .category-2 {
    .img-container {
      order: 2;
      transform: translateY(25px);
      box-shadow: 25px 25px $pine, 325px 25px $pine, 625px 25px $pine, 925px 25px $pine;
    }
    .text-container {
      padding-top: 25px;
      padding-right: 75px;
      align-items: flex-end;
      text-align: end;
      justify-content: flex-start;
    }
  }
}
