@use 'variables' as *;

.categories {
  padding-top: 50px;
  padding-bottom: 50px;
  .category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .img-container {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .text-container {
      display: flex;
      flex-direction: column;
    }
    button {
      width: auto;
    }
  }
  .category-1 {
    .img-container {
      transform: translateY(-50px);
      box-shadow: 25px 25px $green-grey, -275px 25px $green-grey;
    }
    .text-container {
      padding-top: 25px;
      padding-left: 75px;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  .category-2 {
    .img-container {
      order: 2;
      transform: translateY(25px);
      box-shadow: 25px 25px $pine, 325px 25px $pine;
    }
    .text-container {
      padding-top: 25px;
      padding-right: 75px;
      padding-bottom: 100px;
      align-items: flex-end;
      text-align: end;
      justify-content: flex-start;
    }
  }
}

@media (max-width: 768px) {
  .categories {
    .category {
      grid-template-columns: 1fr;
    }
    .category-1 {
      .img-container {
        transform: none;
        box-shadow: 25px 25px $green-grey, 225px 25px $green-grey;
      }
      .text-container {
        padding-top: 50px;
        padding-left: 0;
        padding-bottom: 25px;
      }
    }
    .category-2 {
      .img-container {
        order: 0;
        transform: none;
        box-shadow: 25px 25px $pine, 225px 25px $pine;
      }
      .text-container {
        padding-top: 50px;
        padding-right: 0;
        padding-bottom: 0;
        align-items: flex-start;
        text-align: start;
      }
    }
  }
}
