@use 'variables' as *;

.gallery {
  padding: 75px 0;
  .container {
    display: flex;
    gap: 25px;
    .img-container {
      flex-basis: 33%;
      cursor: pointer;
      img {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: $mq-tablet) {
  .gallery {
    .container {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 25px;
      .img-container {
        flex-basis: 45%;
      }
    }
  }
}

@media (max-width: $mq-mobile-lg) {
  .gallery {
    .container {
      .img-container {
        flex-basis: 100%;
      }
    }
  }
}
