@use 'variables' as *;

.hero {
  background-color: $pine;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .img-container {
      flex-basis: 35%;
      width: 50%;
      transform: translateY(2rem);
      box-shadow: 0.6rem 0.6rem #fff;
      img {
        max-width: 100%;
      }
    }
    h1 {
      &::before {
        content: url(../../../assets/circle-text.png);
        transform: scale(0.51) translate(-90%, -53%);
        position: absolute;
      }
    }
  }
}

@media (max-width: $mq-tablet) {
  .hero {
    .container {
      flex-direction: column;
      padding-top: 50px;
      gap: 0;
    }
  }
}

@media (max-width: $mq-mobile-lg) {
  .hero {
    .container {
      h1 {
        &::before {
          transform: scale(0.44) translate(-108%, -73%);
        }
      }
    }
  }
}

@media (max-width: $mq-mobile-sm) {
  .hero {
    .container {
      h1 {
        &::before {
          transform: scale(0.42) translate(-110%, -82%);
        }
      }
    }
  }
}
