@use 'variables' as *;

@media (max-width: 1024px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
}

@media (max-width: 768px) {
  /* all of our styles for TABLET devices will go within this breakpoint */
  .cta-1 {
    p {
      text-align: left;
    }
  }

  .cta-2 {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .img-container {
        width: 50%;
      }
      .text-container {
        text-align: center;
        p {
          text-align: left;
        }
      }
    }
  }

  
}

@media (max-width: 425px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */
}
