@use 'variables' as *;

.more {
  background-color: $white-shade;
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-top: 75px;
    padding-bottom: 75px;
    .item {
      position: relative;
      padding-left: 50px;
      padding-bottom: 25px;
      h3 {
        transition: all 0.3s ease-in-out;
      }
      &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        content: '';
        font-family: FontAwesome;
        font-size: 0.8rem;
        position: absolute;
        left: -5px;
        height: 40px;
        width: 40px;
        background-color: $accent;
        border-radius: 50%;
      }
      &:hover {
        h3 {
          color: $accent;
        }
      }
    }
    .item-1 {
      &::before {
        content: '\f03e';
      }
    }
    .item-2 {
      &::before {
        content: '\f007';
      }
    }
    .item-3 {
      &::before {
        content: '\f390';
      }
    }
    .item-4 {
      &::before {
        content: '\f879';
      }
    }
  }
}

@media (max-width: $mq-tablet) {
  .more {
    .container {
      grid-template-columns: 1fr;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}
