@use 'variables' as *;

.navbar {
  background-color: $pine;
  .menu-button-container,
  .menu-toggle {
    cursor: pointer;
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      padding: 0 20px;
      a {
        &::after {
          content: '';
          width: 0px;
          height: 1px;
          display: block;
          background-color: $white-shade;
          transition: 0.3s;
          transform: translateY(-2px);
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
    li.active {
      a {
        &::after {
          background-color: $accent;
        }
      }
    }
    li.home {
      font-family: $headingFont, cursive;
      font-size: 2.1rem;
      line-height: 2.8rem;
    }
  }
}

@media (max-width: $mq-tablet) {
  .navbar {
    .menu {
      flex-direction: column;
      padding-bottom: 10px;
      li {
        height: 0;
        overflow: hidden;
        transition: height 300ms ease;
      }
      li.home {
        display: none;
      }
    }
    .menu-button-container {
      display: inline-block;
      margin: 10px 0;
    }
    .menu-toggle:checked ~ .menu li {
      height: 1.5rem;
    }
  }
}
