@use 'variables' as *;

.navbar {
  background-color: $pine;
  label,
  #hamburger {
    cursor: pointer;
    display: none;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      padding: 0 20px;
      &:hover {
        color: $accent;
      }
    }
    li.home {
      font-family: $headingFont, cursive;
      font-size: 2.1rem;
      line-height: 2.8rem;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    ul {
      display: none;
      flex-direction: column;
      align-items: center;
      padding-bottom: 10px;
      li {
        text-align: center;
      }
      li.home {
        display: none;
      }
    }
    label {
      display: inline-block;
      margin-top: 10px;
    }
    input:checked ~ ul {
      display: block;
    }
  }
}
