@use 'variables' as *;

.page-break {
  background: url('../../../assets/home-image-5.jpg');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: $mq-desktop-sm) {
  .page-break {
    height: 350px;
  }
}

@media (max-width: $mq-tablet) {
  .page-break {
    height: 250px;
  }
}
