.page-break {
  background: url('../../../assets/home-image-5.jpg');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1024px) {
  .page-break {
    height: 350px;
  }
}

@media (max-width: 768px) {
  .page-break {
    height: 250px;
  }
}
