@use 'variables' as *;

header {
  background-size: cover;
  height: 400px;
  align-items: baseline;
  .container {
    display: flex;
    height: 100%;
    align-items: flex-end;
    h1 {
      transform: translateY(0.9rem);
    }
  }
}

.blog header {
  background-image: url(../../../assets/blog-image-1.jpg);
}

.contact header {
  background-image: url(../../../assets/contact-image-1.jpg);
}

@media (max-width: $mq-desktop-sm) {
  header {
    height: 300px;
  }
}

@media (max-width: $mq-tablet) {
  header {
    height: 200px;
  }
}
