/* site fonts */
$headingFont: 'Abril Fatface';
$bodyFont: 'Montserrat';

/* site colours */
$accent: #e4a436;
$green-grey: #709b6b;
$pine: #345231;
$black: #1f1f1f;
$white-shade: #f6f6f6;

/* media query breakpoints */
$mq-desktop-sm: 1024px;
$mq-tablet: 768px;
$mq-mobile-lg: 425px;
$mq-mobile-sm: 375px;
